<script src="https://unpkg.com/vue@next"></script>

  
<body>
  <div id='test' >
    
    {{數字[0]}}
    <input type="number" v-model="number1">
    
    <select id="operation" v-model="selectedOperation">
      <option value="add">加</option>
      <option value="subtract">減</option>
      <option value="multiply">乘</option>
      <option value="divide">除</option>
    </select>

   
    
    {{數字[1]}}
    <input type="number"  v-model="number2">
    
    <button @click="performOperation">執行操作</button>

    <p>結果：{{ result }}</p>
  </div>
</body>

<script>
   const vm = Vue.createApp({
    data() {
      return {
        seleceraedOpttion: "add",
        數字:["數字一","數字二"],

        number1: 0,
        number2: 0,
       result: 0
      };
    },
    methods: {
      performOperation() {
        switch (this.selectedOperation) {
          case "add":
            this.result = this.number1 + this.number2;
            break;
          case "subtract":
            this.result = this.number1 - this.number2;
            break;
        case "multiply":
          this.result = this.number1 * this.number2;
          break;
          case "divide":
            if (this.number2 === 0) {
              alert("除數不能為零！");
            } else {
              this.result = this.number1 / this.number2;
            }
            break;
        }
      }
    }
  });

  vm.mount('#test');
</script>

<style>
  .input{
      padding: 5px 10vw 5px 10vw;
      color: blue;
      background: black;
      border-color: #91decb;
  }

  #button-a{
      padding: 5px 10vw 5px 10vw;
      color: red;
      background: yellow;
      border-color: #0e2ea0;
  }
</style>